* {
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
  /* object-fit: cover;/*ajusta la imagen al contendor*/
    font-family: 'Montserrat', sans-serif;
}
body {
    font-size: 1.6rem;
   
}
header{background-color: rgb(250, 188, 247);
    margin-left: 5px;
}

.headnav {

    text-align: center;
    margin-left: 5px;
    padding: 10px;
   
}
.headnav h1{
    font-size: 25px;
       color: rgb(133, 33, 128);
       font-style: oblique;
       display:inline

}
/*.headnav img {
    margin-left: 20px;
    display:inline;
}*/
.boton{ 
    width: 200px;
    height: 40px;
    margin-left: 40px;
    margin-right: 5px;
    background-color: rgb(111, 44, 99); 
    transition:all 1s;
}
.boton:active { 
    background-color: rgb(218, 223, 223);
    width: 240px;
    height: 45px;
}
.titulo {
    font-size: 2rem;
    color:rgb(111, 44, 99); 
    text-align: center;

}
.flex-container {
    display: flex;
     margin-left: 5px;
   margin-right: 5px;
   /*max-width: 1200px;*/
   width: 100%;

  margin-bottom: 20px;

}

.flex-left { 
    width: 75%;
    margin: 5px;
    display: flex;
    flex:1;
    flex-wrap:wrap ;
  
}



.flex-right { 
    width: 25%;
    margin: 5px;
    height: 100%;
  
    text-align: center;
    background-color:rgb(240, 183, 238);
    opacity: 0.6;
}



.nav__responsive-ul{
    display: none;
}

nav{
    background: rgb(169, 80, 153);
    margin-left: 5px;
    margin-top: 1px;
  /*  height: 35%;*/
}
.nav__li{
    display: inline-block;
    padding: 12px;
    color:#fff
}
.nav__li:hover> a {
 
    color:#bbb   
}

.nav__li:hover> i {
   
    color:#bbb  
}
.nav__li a {   /*asi le cambio el estilo a los a href*/
    color: #fff;
    text-decoration: none; /*le saca el subrayado a los nombres del menu*/
}
.nav__li i { /*aca tomo los iconos*/

box-sizing: border-box;
text-align: right;
margin-right: 5px;
}

.columnas {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
/*.entrada-blog {
    background-color: rgba(237, 162, 219, 0.4); 
   
   
}*/
.entrada-blog img {
   margin-left: 25px;
   margin-right: 5px;
    width:80%;
    height:45%;
    /*margin: 10px*/
  
     }
.entrada-blog a {
    display: inline-block;
    background-color:  rgb(129, 62, 116);;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}
.descripcion {
    text-align: center;
  
}
footer  {
    width: 100%;
    height: 100%;
    background-color: rgb(169, 80, 153);
    text-align: center;
    padding: 5px;
    color: #fff;

} 


a {
    text-decoration: none;
    color: var(--primary-color);
  }
  
  a:hover {
    color:  rgba(195, 208, 208, 0.776);
  }
  ul {
    list-style-type: none;
  }

@media (min-width:480px) {
    .columnas {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .entrada-blog {
    
        flex-basis: calc(33.3% - 1rem);
        /*calc() hace un cálculo matemático*/
        /*Ocupa el 33% del contenedor - 1 rem para dar espacio entre columnas*/
    }
    
    
    .foot { display: inline-block;
        color:#fff;}
}

.foot { 
    display:inline-block;
    color:#fff;}
    
.foot a { 
    color:#fff;}